In [1]:
import pandas as pd

In [2]:
my_data = {
    'cars': ['Toyota','Honda','Ford','BMW'],
    'price':[24000,22000,26000,35000]
}
#create a DataFrame
df_cars = pd.DataFrame(my_data)

In [4]:
df_cars.head()

     cars  price
0  Toyota  24000
1   Honda  22000
2    Ford  26000
3     BMW  35000

In [5]:
a = ['Toyota','Honda','Ford','BMW']
sr = pd.Series(a)
print(sr)

0    Toyota
1     Honda
2      Ford
3       BMW
dtype: object

In [6]:
print(df_cars.loc[1])

cars     Honda
price    22000
Name: 1, dtype: object

In [7]:
print(df_cars.loc[[1,3]])

    cars  price
1  Honda  22000
3    BMW  35000

In [8]:
print(sr[1])

Honda

In [9]:
my_data = {
    'cars': ['Toyota','Honda','Ford','BMW'],
    'price':[24000,22000,26000,35000]
}
df_cars = pd.DataFrame(my_data, index = ['CAR01','CAR02','CAR03','CAR04'])
df_cars.head()

         cars  price
CAR01  Toyota  24000
CAR02   Honda  22000
CAR03    Ford  26000
CAR04     BMW  35000